		h1{
			text-align: center;
		}
		table{
			margin: auto;
		}
		td{
			width:100px;
			height:100px;
			text-align: center;
			font-size: 80px;
		}

		.vertical{
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
		.horizontal{
			border-bottom: 1px solid black;
			border-top: 1px solid black;
		}

		#buttons{
			margin: 50px 405px 50px 405px;
		}